.activity {
  margin-bottom: 30px;
}

.activity-avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
  margin-right: 20px;

  img {
    border-radius: 100px;
    width: 100%;
  }

}

.activity-user-name {
  font-weight: 600;
  color: #666;
}

.activity-info {
  margin: 5px 0;
}

.activity-date {
  color: #666;
  font-size: 12px;
}

.activity-message-content {
  color: #333;
  line-height: 18px;
}
